#community {
  .group-card {
    a {
      text-decoration: none;
      &:hover {
        color: map-get($theme-colors, 'primary');
      }
      &.btn-black {
        &:hover {
          background-color: map-get($theme-colors, 'black');
        }
      }
    }
    .card-img-top {
      height: 145px;
      object-fit: cover;
    }
  }
  @include media-breakpoint-down(xs) {
    .group-column {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.community-group {
  .hero-container {
    text-align: center;
  }
  .group-cover-image {
    max-height: 55vh;
  }
  .hero-caption {
    font-size: .9rem;
  }
  .group-slogan {
    margin-top: 3rem;
  }
  .group-social-icons {
    a {
      &:hover {
        color: map-get($theme-colors, 'primary');
      }
    }
  }

  .picture-gallery {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: $xr-black;
      padding: .8rem;
      &:hover {
        background-color: $xr-primary;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      align-items: flex-start;
      opacity: 1;
    }
    .carousel-control-prev {
      justify-content: flex-start;
    }
    .carousel-control-next {
      justify-content: flex-end;
    }
    .carousel-caption {
      position: relative;
      left: 0;
      top: 0;
    }
  }

}
