
#donations {
  section:not(:nth-of-type(1)) {
    margin-top: 5rem;
  }
  .ps-more-info {
    margin-top: .8rem;
  }
  .ps-info-toggle {
    font-family: $brand-font;
    cursor: pointer;
    text-decoration: underline;

    &.reveal-ps-info {
      &::before {
        content: '\f067';
        font-family: 'FontAwesome';
        margin-right: 0.4rem;
        text-decoration: none;
        display: inline-block;
      }
    }
    &.hide-ps-info {
      &::before {
        content: '\f068';
        font-family: 'FontAwesome';
        margin-right: 0.4rem;
        text-decoration: none;
        display: inline-block;
      }
    }
    &:hover {
      &::before {
        color: lighten($xr-black, 35%);
      }
    }
  }
}

.expenses-chart {
  .selected-dp-info {
    display: flex;
    align-items: center;
    min-height: 3rem;
    margin-bottom: .2rem;
    @include media-breakpoint-down(md) {
      min-height: 5rem;
    }
    &.active {
      background-color: lighten($xr-lemon, 8%);
    }
    .dp-info-label {
      @extend .h3;
    }
    .dp-info-note {
      font-style: italic;
      white-space: nowrap;
      @include media-breakpoint-down(md) {
        display: block;
        min-height: 2rem;
      }
    }
    .dp-info-value {
      font-size: 2rem;
    }
  }
  .chart-line {
    cursor: pointer;
    &:hover {
      background-color: lighten($xr-lemon, 8%);
    }
  }
  .line-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dp-label {
    @extend .h3;
  }
  .dp-bar {
    height: .5rem;
    background-color: $xr-primary;
    border-radius: 5px;
  }
  .dp-value {
    font-family: $brand-font;
  }
}


/* payment form

form.donate-form {
  input[type="text"],
  input[type="email"],
  select {
      @extend .form-control;
      border: none;
      border-bottom: 2px solid $xr-black;
      -webkit-border-radius: 0px;
      border-radius: 0rem;
      background: $xr-white;
      appearance: none;
      font-size: 1.2rem;
      font-weight: bold;
  }
  label[for="dmm_name"],
  label[for="dmm_email"],
  label[for="dmm_phone"],
  label[for="dmm_message"],
  label[for="dmm_amount"] {
      font-family: $brand-font;
  }
  input[type="submit"] {
      // @extend .form-control;
      @extend .btn, .btn-black, .btn-lg;
  }

  input[type="checkbox"] {
      &:checked {
          &::before{
              background-color:green;
          }    
      }    
  }

  // input[type="text"],
  // input[type="email"] {
  //     @extend .form-control;
  //     color: #ff0000;
  // }

}

*/