$donations-accent-col-1: $xr-warm-yellow;
$donations-accent-col-2: $xr-red;
$donations-accent-col-3: $xr-purple;

#donations {
  section:not(:nth-of-type(1)) {
    margin-top: 2rem;
    @include media-breakpoint-down(xs) {
      margin-top: 0;
    }
  }
  .main-section {
    .content {
      padding: 2.5rem 1rem 4rem 1rem;
    }
    &.color-1 {
      .content {
        border: .5rem solid $donations-accent-col-1;
      }
    }
    &.color-2 {
      .content {
        border: .5rem solid $donations-accent-col-2;
      }
    }
    &.color-3 {
      .content {
        border: .5rem solid $donations-accent-col-3;
      }
    }
  }  
  .donations-accent {
    text-decoration: underline;
    text-decoration-thickness: .3rem;
    text-decoration-skip-ink: none;
    text-decoration-skip: none;
    color: inherit !important;
    &.color-1 {
      text-decoration-color: rgba($donations-accent-col-1,.9);
    }
    &.color-2 {
      text-decoration-color: rgba($donations-accent-col-2,.9);
    }
    &.color-3 {
      text-decoration-color: rgba($donations-accent-col-3,.9);
    }
  }

  // Hero
  .hero {
    position: relative;
    .hero-text {
      font-size: 1.7rem;
    }
    .hero-symbol {
      display: block;
      position: absolute;
      bottom: 1rem;
      opacity: .3;
      pointer-events: none;

      svg,path {
        width: auto;
        fill: $donations-accent-col-1 !important;
      }

      &.right {
        right: 1rem;
        transform: scaleX(-1);
        transform: rotate(3deg);
        svg,path {
          height: 20rem;
        }
      }
      &.left {
        left: 1rem;
        transform: rotate(3deg);
        svg,path {
          height: 8rem;
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  // Section toggles
  .ps-more-info {
    margin-top: .8rem;
  }
  .ps-info-toggle {
    font-family: $brand-font;
    cursor: pointer;
    text-decoration: underline;

    &.reveal-ps-info {
      &::before {
        content: '\f067';
        font-family: 'FontAwesome';
        margin-right: 0.4rem;
        text-decoration: none;
        display: inline-block;
      }
    }
    &.hide-ps-info {
      &::before {
        content: '\f068';
        font-family: 'FontAwesome';
        margin-right: 0.4rem;
        text-decoration: none;
        display: inline-block;
      }
    }
    &:hover {
      &::before {
        color: lighten($xr-black, 35%);
      }
    }
  }

  .xrnl-donations-form {
    .content {
      border-color: $donations-accent-col-1;
    }
    .payment-form {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      ul {
        padding: 0;
      }
      .options-list {
        @extend .form-check;
        @extend .form-check-inline;
        input {
          @extend .form-check-input;
        }
        label {
          @extend .form-check-label;
        }
        li {
          &:not(:nth-of-type(1)) {
            margin-left: 1.5rem;
          }
        }
      }
      .payment-amount {
        order: -10;
      }
      .payment-options {
        order: -9;
      }
      .payment-consent {
        order: -8;
      }
      .payment-method {
        order: -7;
      }
      .payment-name-input {
        order: -6;
      }
      .payment-email-input {
        order: -5;
      }
      .payment-button {
        order: -4;
        button {
          @extend .btn, .btn-black, .btn-block, .btn-lg;
        }
      }
    }
  }

  // Expenses chart
  #expenses-chart {
    $chart-background-color: $donations-accent-col-1;
    $chart-highlight-color: lighten($chart-background-color, 8%);
    background-color: $chart-background-color;
    .selected-dp-info {
      display: flex;
      align-items: center;
      min-height: 3rem;
      margin-bottom: .2rem;
      @include media-breakpoint-down(md) {
        min-height: 5rem;
      }
      &.active {
        background-color: $chart-highlight-color;
      }
      .dp-info-label {
        @extend .h3;
      }
      .dp-info-note {
        font-style: italic;
        white-space: nowrap;
        @include media-breakpoint-down(md) {
          display: block;
          min-height: 2rem;
        }
      }
      .dp-info-value {
        font-size: 2rem;
      }
    }
    .chart-line {
      cursor: pointer;
      &:hover {
        background-color: $chart-highlight-color;
      }
    }
    .line-segment {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .dp-label {
      @extend .h3;
    }
    .dp-bar {
      height: .5rem;
      background-color: $xr-primary;
      border-radius: 5px;
    }
    .dp-value {
      font-family: $brand-font;
    }
  }

}




/* dmm payment form

form.donate-form {
  input[type="text"],
  input[type="email"],
  select {
      @extend .form-control;
      border: none;
      border-bottom: 2px solid $xr-black;
      -webkit-border-radius: 0px;
      border-radius: 0rem;
      background: $xr-white;
      appearance: none;
      font-size: 1.2rem;
      font-weight: bold;
  }
  label[for="dmm_name"],
  label[for="dmm_email"],
  label[for="dmm_phone"],
  label[for="dmm_message"],
  label[for="dmm_amount"] {
      font-family: $brand-font;
  }
  input[type="submit"] {
      // @extend .form-control;
      @extend .btn, .btn-black, .btn-lg;
  }

  input[type="checkbox"] {
      &:checked {
          &::before{
              background-color:green;
          }    
      }    
  }

  // input[type="text"],
  // input[type="email"] {
  //     @extend .form-control;
  //     color: #ff0000;
  // }

}

*/