/* Action Network Form */

$default-spacing: 0.75rem;
$default-font-size: 1rem;

@mixin reset-text() {
  font-size: inherit !important;
  line-height: inherit !important;
}

#can_embed_form {
  h4,
  #action_info {
    display: none;
  }

  #logo_wrap {
    display: none;
  }

  #can_embed_form_inner > h2 {
    display: none;
  }

  #can_thank_you {
    background-color: transparent !important;
    text-align: center !important;
    color: #000 !important;
  }

  h2 {
    font-family: $brand-font-secondary;
    text-transform: none;
    border: 0 !important;
    margin-bottom: 0 !important;
  }

  // style for all text labels
  label.control-label {
    font-size: $default-font-size;
    font-family: $brand-font-secondary;
    text-transform: none;
    margin-bottom: $default-spacing;
    padding: 0 $default-spacing;
    letter-spacing: 0px;
  }

  // override margin for input elements
  .floatlabel-wrapper {
    @extend .form-group;
    margin-bottom: $default-spacing;
  }

  form {
    @extend .row;
    width: auto !important;

    // Unfortunately the html that comes out of actionnetwork is not
    // customizable at all. Hence a lot of css customization here! :(
    #form_col1,
    #form_col2 {
      @extend .col-12;
      // @extend .col-lg-6;
      @include media-breakpoint-down(md) {
        float: none !important;
        width: auto !important;
      }

      // overrides
      float: none !important;
      width: auto !important;
    }

    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    // display checkboxes
    label.checkbox {
      display: block;
      @extend .my-2;
    }

    // bootstrap styling for forms
    input,
    select,
    textarea {
      @extend .form-control;
      margin-bottom: $default-spacing;

      // validation feedback
      &.error_input {
        @extend .is-invalid;
        &:focus {
          box-shadow: none;
        }
      }
    }

    // checkboxes & radio buttons
    #d_sharing li,
    .controls.check_radio_field {
      label {
        font-size: $default-font-size;
        input {
          width: 15px;
          height: 15px;
        }
      }
    }

    // Select box
    select {
      font-size: $default-font-size;
    }
    .country_drop_wrap select.can_select {
      height: 44px !important;
    }
    span.can_select {
      display: none !important;
    }
    .select2-container {
      margin-bottom: $default-spacing;
    }
    .select2-chosen {
      font-size: $default-font-size;
    }

    // submit button
    input[type="submit"] {
      @extend .btn-block;
      @extend .btn;
      @extend .btn-black;
      @extend .btn-lg;
    }

    // Misc overrides
    #d_sharing {
      display: none;
    }
  }

  @include reset-text();

  // Styling Thank you section after submission
  // Keep it simple, let's not distract the user even more,
  // let them browse the site
  & > .clearfix {
    display: none;
  }

  & > #can_thank_you {
    @extend .mt-4;
    @extend .mb-3;
    background-color: transparent !important;
    padding: 0 !important;
    text-align: left !important;

    h1 {
      @extend .h3;
      @extend .font-xr;
      @extend .text-uppercase;
    }

    p {
      @include reset-text();
    }
  }
}
