/* Action Network Form */

$spacing-form-fields: 0.75rem;
$font-size-form-fields: 1rem;

// main container of the Action Network form
#can_embed_form {
  /*
   * Code section that hides unnecessary elements
   */

  // hide all form meta-information (everything that isn't a form field or the submit button)
  #can_embed_form_inner > {
    h2,
    h4,
    #logo_wrap {
      // Action Network logo
      display: none;
    }
  }
  // hide unnecessary text: action sponsored by XR NL
  #action_info {
    display: none;
  }
  // hide redundant country dropdown as the country will always be NL
  .country_drop_wrap {
    display: none !important;
  }
  // hide default opt-in checkbox because we use radio buttons with custom text
  form #d_sharing {
    display: none;
  }

  /*
   * Code section that styles form components
   *
   * Unfortunately the html that comes out of actionnetwork is not
   * customizable at all. Hence a lot of css customization here! :(
   */
  form {
    /*
     * Code section for generic styles
     */
    @extend .row;
    width: auto !important;

    #form_col1,
    #form_col2 {
      @extend .col-12;
      // @extend .col-lg-6;
      @include media-breakpoint-down(md) {
        float: none !important;
        width: auto !important;
      }

      // overrides
      float: none !important;
      width: auto !important;
    }

    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    /*
     * Code section for custom styling of form elements
     */
    input,
    select,
    textarea {
      @extend .form-control; // use bootstrap style
      margin-bottom: $spacing-form-fields;

      // validation feedback
      &.error_input {
        @extend .is-invalid; // use bootstrap style
        &:focus {
          box-shadow: none;
        }
      }
    }

    // override styles for container of text input elements
    .floatlabel-wrapper {
      margin-bottom: $spacing-form-fields;
    }

    // style for all text labels
    label.control-label {
      font-size: $font-size-form-fields;
      font-family: $brand-font-secondary;
      text-transform: none;
      margin-bottom: $spacing-form-fields;
      padding: 0 $spacing-form-fields;
      letter-spacing: 0px;
    }

    // checkboxes & radio buttons
    #d_sharing li,
    .controls.check_radio_field {
      label {
        font-size: $font-size-form-fields;
        input {
          width: 15px;
          height: 15px;
        }
      }
    }

    // Select box
    select {
      font-size: $font-size-form-fields;
    }
    .select2-container {
      margin-bottom: $spacing-form-fields;
    }
    .select2-chosen {
      font-size: $font-size-form-fields;
    }

    // submit button
    input[type="submit"] {
      @extend .btn-block;
      @extend .btn;
      @extend .btn-black;
      @extend .btn-lg;
    }
  }

  /*
   * Code section for the thank you content that shows when a user submits the form
   * The content of this text is configured from Action Network
   */

  & > #can_thank_you {
    @extend .mt-4;
    @extend .mb-3;
    background-color: transparent !important;
    color: #000 !important;
    h1 {
      text-align: center !important;
      @extend .h3;
      @extend .font-xr;
      @extend .text-uppercase;
    }
    #action_thank_you_text > p {
      font-size: 1.4rem;
      font-family: $brand-font-secondary;
    }
  }
}
