.join {
  font-size: 1.4rem;
  .join-cover-image {
    // min-height: 60vh;
    background-size: cover !important;
  }

  .join-section {
    text-align: center;
    padding: 6rem 1rem;
  }

  .join-location {
    font-size: 1.6rem;
  }

  .do-more-actions {
    h3 {
      font-family: $brand-font;
      margin-top: 2rem;
    }
  }
}

.join-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.join-row-element {
  background-color: rgba(255, 255, 255 ,0.7);
  flex: 1 0 40%;

  h3 {
    font-size: 3rem;

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
}

.join-top {
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &__image {

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: relative;
    width: 100%;

    &__svg {
      display: none;
      position: absolute;
      height: 100%;
      width: 100px;
      right: 100%;
    }

    @include media-breakpoint-up(lg) {
      &__svg {
        display: block;
      }

      width: 50%;
    }

    &__triangle {
      fill: $xr-warm-yellow;
    }

    &__line {
      fill: white;
    }
  }
}
