.join {
  font-size: 1.4rem;
  .join-cover-image {
    // min-height: 60vh;
    background-size: cover !important;
  }

  .join-section {
    text-align: center;
    padding: 6rem 1rem;
  }

  .join-location {
    font-size: 1.6rem;
  }

  .do-more-actions {
    h3 {
      font-family: $brand-font;
      margin-top: 2rem;
    }
  }
}

.join-title {
  font-size: 5rem;
}

.join-subtitle {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.join-first-row {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;

    > div {
      width: 50%;
    }
  }
}

.join-row-element {
  background-color: rgba(255, 255, 255 ,0.7);

  h3 {
    font-size: 3rem;
  }
}

.join-top {
  display: flex;
  align-items: stretch;

  &__image {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    position: relative;

    &__svg {
      display: none;
      position: absolute;
      height: 100%;
      width: 100px;
      right: 100%;
    }

    @include media-breakpoint-up(lg) {
      &__svg {
        display: block;
      }
    }

    &__triangle {
      fill: $warning;
    }

    &__line {
      fill: white;
    }
  }

  > div {

  }
}
