.shop-banner{
    .month{
        position: relative;
        padding: 1.5rem;
        background: rgb(251,241,242) !important;
        @media (min-width: $breakpoint-sm) {
            padding: 3rem;
        }
        img {
            transition: transform .5s ease-in-out;
        }
        .price-tag{
            position: absolute;
            left: 30px;
            bottom: 0;
            transition: transform .5s ease-in-out;
            @media (min-width: $breakpoint-sm) {
                left: 0;
            }
        }
        &:hover{
            img {

                rotation:-2.5deg;
            }
            .price-tag{
                rotation:26.5deg;
            }
        
        }
    }
    .in-mand{
        font-size: 3rem;
        font-family: "FucXed", Montserrat, sans-serif;
        padding: .5rem;
        border: 3px solid black;
        text-decoration: none !important;
        width: 100%;
        text-align: center;
        @media (min-width: $breakpoint-sm) {
            left: 0;
            width: auto;
        }
    }
}