body > header {
  position: relative;
}

body {
  background-color: $white;
  font-family: "Crimson Text", serif;
  font-size: 20px;
}

h1,
h2 {
  font-family: $brand-font;
}

ul,
ol {
  padding-left: 3rem;
}

.font-xr {
  font-family: $brand-font;
  text-transform: uppercase;
}

header, footer {
  a {
    text-decoration: none;
  }
}
.btn {
  text-decoration: none;
}

main {
  :not(.bg-navy) {
    a:not(.btn) {
      color: $link-color;
      text-decoration: $link-decoration;
      &:hover,
      &:focus {
        color: $link-hover-color;
      }
    }
  }
  .bg-navy {
    a:not(.btn) {
      color: white;
      text-decoration: $link-decoration;
      &:hover,
      &:focus {
        color: map-get($theme-colors, "yellow");
      }
    }
  }
}

.text-giant {
  font-size: 10rem;

  @include media-breakpoint-down(lg) {
    font-size: 8rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 6rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 4rem;
  }
}

.font-xr-if-bold {
  // make all bold text inside this class use the XR font
  strong {
    @extend .font-xr;
  }
}

.font-fuchsia-if-bold {
  // make all bold text in this class have the fuchsia colour
  // if useful we can easily extend this for all colours
  strong {
    @extend .text-fuchsia;
  }
}


.section-title {
  @extend .font-xr;
  line-height: 1;
  font-size: 5rem;
  @include media-breakpoint-down(md) {
    font-size: 3rem;
  }
}

.section-pre-title {
  @extend .font-xr;
  font-size: 1.125rem;
  margin-bottom: .25rem;
}
